.App .poss {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 0.5rem;
}
.poss .possibility-img {
  width: 100%;
}
.poss .possibility-img img {
  width: 100%;
  object-fit: cover;
  width: 576px;
  height: 641px;
}

.poss .one {
  font-family: var(--font-family);
  font-size: 1rem;
  line-height: 30px;
  margin-bottom: 1rem;

  /* identical to box height, or 188% */

  color: #71e5ff;
}

.poss h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 2.125rem;
  line-height: 45px;
  margin: 1rem 0;
}
.poss .first {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1rem;
  line-height: 30px;
  color: #81afdd;
  margin-bottom: 2rem;
}

.poss .second {
  font-family: var(--font-family);
  font-size: 1rem;
  line-height: 30px;
  color: #ff8a71;
}
@media (max-width: 1024px) {
  .poss {
    flex-wrap: wrap;
    gap: 1.5rem;
  }
  .poss .possibility-img img {
    width: 100%;
    height: 100%;
  }

  .poss h1 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .poss .first {
    font-size: 0.8rem;
  }
}
